@font-face {
  font-family: "JetBrains Sans";
  src: url("fonts/JetBrainsSans-Regular.woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono-Regular.woff2");
}

:root {
  font-family: "JetBrains Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-wave-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.app-wave-container > div.mirror {
  opacity: .5;
}

.app-wave-needle {
  position: absolute;
  bottom: 2px;
  left: 50%;
  height: 110%;
  width: 2px;
  background: red;
  border-radius: 6px;
}

.app-wave-needle:after {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 100%;
}

.waveform-container {
  position: relative;
  height: 120px;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;

  border-radius: 6px;
}

.waveform-belt {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;

  will-change: transform;
  transform: translateX(0);
}

.waveform-item {
  background: #333;
  border-radius: 6px;
  height: 10px;
}

.waveform-items-block {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  will-change: transform;
  transform: translateX(0);
}